{% for sector, sonda in sonde %}
    <div class="col text-center">
        <a href="#" class="sectors btn btn-secondary" id="id_sector_{{ sector }}" onclick="SONDE.getSondeBySector({{ sector }})">Sector {{ sector }}</a>
    </div>
{% endfor %}